  body{
  color:black;
  font-family: 'Open Sans', sans-serif;
  }


#activeid{
  text-transform: uppercase;
  color: #50C7C7;
  font-weight: bold;
}


.about-container{
  display: grid;
  grid-template-rows: auto auto;
}

.bob{
  grid-row: 1/ auto;
   /* i changed width from 100 to 80 
  and height from nothing to 50 vh */
  /* why cant i center the image */
  width: 80%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

.abouttext-block{
  grid-row: 2/ auto;
}

h1{
  font-size: 2em;
  padding: 6px ; 
  font-family: 'roboto', sans-serif;
  background-color: #50C7C7; 
  color: black;
  text-align: center;
  width: 100%;
}

h2{
  color: #50C7C7;
  padding: 6px 6px 6px 0px; 
  font-size: 1.5em;
  font-family: 'roboto', sans-serif;

}

h3{
  padding: 6px 6px 6px 0px; 
  font-size: 1.1em;
  font-family: 'roboto', sans-serif;

}

.contacting{
  padding-left: 10px;
}

.menu ul{
    color: black;
    border-bottom: 3px solid #660066;
    display: flex;
    padding: 6px;
    width: 100%;
    text-decoration: none;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    align-content: stretch;
    background-color: #660066;
  }

.menu li{
  width: 25%;
  padding: 10px;
}

.experiences{
  flex-shrink: 5;
  padding-right: 6px;
}

nav li a{
  text-decoration: none;
  color: white;
}



nav li a:hover{
  background-color: black;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: dotted;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
 
.skip a:focus{
  top:5px;
  color: black;
  text-decoration-style: solid;
}


  /* 
  .nav_links{
    display: flex;
    flex-direction: column;
  }
  
  
  .nav_item a{
    color: black;
    text-decoration: none;
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }
  */
#gallery{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
  overflow: scroll;
  background-color: #50C7C7;
  justify-items: center;
}

.image1{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 1/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}
.image2{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 1/ auto;
  grid-column: 2/ auto;
  overflow:hidden;
}
.image3{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 2/ auto;
  grid-column: 1/ auto;
  overflow:hidden;

}
.image4{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 2/ auto;
  grid-column: 2/ auto;
  overflow:hidden;
}
.image5{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 3/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}
.image6{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 3/ auto;
  grid-column: 2/ auto;
  overflow:hidden;
}
.image7{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 4/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}
.image8{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 4/ auto;
  grid-column: 2/ auto;
  overflow:hidden;

}
.image9{
  width: 42vw;
  height: 20vh;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 5/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}

#share{
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}
form {
  border: 3px solid #f1f1f1;
}

/* legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
} */

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 15vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color:  #660066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 80vh;
 }
 
 div + label{
   /* before it was 25 */
    line-height: 15vh;
    vertical-align:top;
 }
}


footer{
  min-width:100%;
  height: 40px;
  bottom:0;
  left:0;
  position: fixed;
  text-align:center;
  vertical-align: middle;
  color: black;
  background-color: #50C7C7;
}
@media (min-width:600px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #gallery{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    overflow: scroll;
    background-color: #50C7C7
  }
  .image1{
    width: 30vw;
    height: 25vh;    
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 1/ auto;
    overflow:hidden;
  }
  .image2{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 2/ 3;
    overflow:hidden;
  }
  .image3{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 3/ auto;
    overflow:hidden;
  
  }
  .image4{
    width: 30vw;
    height: 25vh;    
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 1/ auto;
    overflow:hidden;
  }
  .image5{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 2/ auto;
    overflow:hidden;
  }
  .image6{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 3/ auto;
    overflow:hidden;
  }
  .image7{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 3/ auto;
    grid-column: 1/ auto;
    overflow:hidden;
  }
  .image8{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 3/ auto;
    grid-column: 2/ auto;
    overflow:hidden;
  
  }
  .image9{
    width: 30vw;
    height: 25vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 3/ auto;
    grid-column: 3/ auto;
    overflow:hidden;
  }

  .about-container{
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .bob img{
    grid-column: 1/ 2;
  }
  .abouttext-block{
    grid-column: 2/ 3;
  }
} 

@media (min-width: 1024px){
  #gallery{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    overflow: scroll;
    background-color: #50C7C7
  }
  .image1{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 1/ auto;
    overflow:hidden;
  }
  .image2{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 2/ 3;
    overflow:hidden;
  }
  .image3{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 3/ auto;
    overflow:hidden;
  
  }
  .image4{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 4/ auto;
    overflow:hidden;
  }
  .image5{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 1/ auto;
    grid-column: 5/ auto;
    overflow:hidden;
  }
  .image6{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 1/ auto;
    overflow:hidden;
  }
  .image7{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 2/ auto;
    overflow:hidden;
  }
  .image8{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 3/ auto;
    overflow:hidden;
  
  }
  .image9{
    width: 20vw;
    height: 50vh;
    margin: 5px;
    border: 5px solid #660066;
    grid-row: 2/ auto;
    grid-column: 4/ auto;
    overflow:hidden;
  }

  .about-container{
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .bob img{
    grid-column: 1/ 2;
  }
  .abouttext-block{
    grid-column: 2/ 3;
  }
} 

