body{
  color:black;
}

#page-container{
  /* position: relative; */
  /* min-height: 100vh; */
}



h1{
  font-size: 1.25em;
  background-color: #50C7C7; 
  color: black;
  text-align: center;
  width: 100%;
}

.menu ul{
    color: black;
    border-bottom: 3px solid #660066;
    display: flex;
    padding: 6px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    background-color: #660066;
  }

.menu li{
  width: 25%;
  padding: 10px;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:hover{
  background-color: #ccc;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: dotted;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
 
.skip a:focus{
  top:5px;
  color: black;
  text-decoration-style: solid;
}



  /* 
  .nav_links{
    display: flex;
    flex-direction: column;
  }
  
  
  .nav_item a{
    color: black;
    text-decoration: none;
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }
  */
#gallery{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
  overflow: scroll;
  background-color: #50C7C7
}

.image1{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 1/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}
.image2{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 1/ auto;
  grid-column: 2/ 3;
  overflow:hidden;
}
.image3{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 2/ auto;
  grid-column: 1/ auto;
  overflow:hidden;

}
.image4{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 2/ auto;
  grid-column: 2/ auto;
  overflow:hidden;
}
.image5{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 3/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}
.image6{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 3/ auto;
  grid-column: 2/ auto;
  overflow:hidden;
}
.image7{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 4/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}
.image8{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 4/ auto;
  grid-column: 2/ auto;
  overflow:hidden;

}
.image9{
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 5px solid #660066;
  grid-row: 5/ auto;
  grid-column: 1/ auto;
  overflow:hidden;
}


footer{
  min-width:100%;
  height: 40px;
  bottom:0;
  left:0;
  position: fixed;
  text-align:center;
  vertical-align: middle;
  color: black;
  background-color: #50C7C7;
}

